.dashboard-user-img__container {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	img {
		height: 100%;
		width: 100%;
	}
}

.dashboard-user-info__container {
	margin-left: 50px;
	.user-info {
		display: flex;
		justify-content: space-between;
	}
}
.dashboard-user-info__container {
	flex-grow: 1;
}

.dashboard-event__cards {
	h4 {
		flex-grow: 1;
	}
	.dashboard-event__card {
		height: 30px;
		width: 100%;
		align-items: center;
		a {
			img {
				height: 100%;
				width: 30px;
			}
		}
	}
}
