.dashboard-banner {
	background: white;
	color: black;
	padding: 12px;
	margin: 3rem 1rem 0 1rem;
	border-radius: 8px;
}

.my-booking-column,
.my-games-column {
	h2 {
		margin-bottom: 3rem !important;
	}
}
.dashboard-user-img__container {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	img {
		height: 100%;
		width: 100%;
	}
}

.dashboard-user-info__container {
	margin-left: 50px;
	.user-info {
		display: flex;
		justify-content: space-between;
		.info {
			h6 {
				font-weight: bold;
				font-size: 18px;
			}
		}
	}
	.user-info__welcome {
		font-size: 30px;
	}
}
.dashboard-user-info__container {
	flex-grow: 1;
}

.my-games-column {
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}
	overflow-x: hidden;
}

.dashboard-event__cards {
	max-height: 300px;
	h5 {
		flex-wrap: wrap;
		flex-grow: 1;
	}
	.dashboard-event__card {
		margin-bottom: 28px;
		margin-left: 16px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-grow: 1;
		a {
			font-size: 20px;
			color: $purple-primary;
			&:hover {
				color: $purple-secondary;
			}
		}
	}
}

.dashboard-booking__cards {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	.dashboard-booking__card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 15px;
		p {
			margin-bottom: 0;
		}
	}
}

.badge-cards {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow-x: scroll;
	&::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}
	width: 100%;
	height: 80%;
	padding-top: 16px;
	padding-left: 16px;
	.badge-card {
		display: flex;
		margin-right: 24px;
		margin-bottom: 16px;
		flex-direction: column;
		align-items: center;
		padding: 8px 4px;
		min-width: 300px;
		border-radius: 8px;
		.badge-img__container {
			width: 75px;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
.booking-card {
	display: flex;
	width: 100%;
	align-items: center;
}

.my-booking-column,
.my-games-column {
	border: 2px solid transparent;
	padding: 12px;
	border-radius: 8px;
	height: 100%;
}

.badges-container {
	padding-top: 16px;
	border-radius: 8px;
	height: 250px;
	margin-top: 3rem !important;
}

.dashboard-main__container {
	background-color: purple;
	padding: 24px;
	margin: 24px 0;
	box-shadow: 2px 2px 16px darken($color: purple, $amount: 10%);
	border-radius: 8px;
}

// Mobile Screen Size iphone 10+
@media (max-width: 436px) {
	.dashboard-main__container {
		padding: 4px;
		margin: 28px 0;
	}
	.dashboard-user-info__container {
		margin: 0;
		h2 {
			font-size: 1rem !important;
		}
		.user-info__welcome {
			font-size: 20px;
			text-align: center;
			margin-top: 12px;
		}
	}
	.dashboard-event__card {
		h5 {
			font-size: 16px !important;
		}
	}
	.my-games-column,
	.my-booking-column {
		overflow-y: scroll;
		margin-bottom: 32px;
		max-height: 300px;
		h2 {
			font-size: 1.2rem !important;
			text-align: center;
			margin-bottom: 12px !important;
		}
	}

	.dashboard-booking__cards {
		.booking-card {
			display: none;
		}
		.booking-card__values {
			.row {
				div {
					p {
						text-align: start !important;
					}
				}
				div + div {
					display: none;
				}
			}
		}
	}
	.badges-container {
		margin-top: -9px !important;
		margin-bottom: 1rem !important;
	}
	.dashboard-main__container {
		background-color: transparent;
		box-shadow: 2px 2px 16px transparent;
	}
}
