.dashboard-user-img__container {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	img {
		height: 100%;
		width: 100%;
	}
}

.dashboard-user-info__container {
	margin-left: 50px;
	.user-info {
		display: flex;
		justify-content: space-between;
	}
}
.dashboard-user-info__container {
	flex-grow: 1;
}

.my-games-column {
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
	overflow-x: hidden;
}

.dashboard-event__cards {
	max-height: 300px;
	h4 {
		flex-wrap: wrap;
		flex-grow: 1;
	}
	.dashboard-event__card {
		margin-bottom: 28px;
		margin-left: 16px;
		width: 100%;
		align-items: center;
	}
}

.dashboard-booking__cards {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	.dashboard-booking__card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 15px;
		p {
			margin-bottom: 0;
		}
	}
}

.badge-cards {
	display: flex;
	justify-content: flex-start;
	max-width: 100%;
	align-items: center;
	overflow-x: scroll;
	padding-top: 16px;
	padding-left: 16px;
	border-left: 2px solid lightgray;
	&::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
	.badge-card {
		display: flex;
		margin-right: 24px;
		flex-direction: column;
		align-items: center;
		padding: 8px 4px;
		border: 2px solid lightgray;
		border-radius: 8px;
		.badge-img__container {
			width: 75px;
			img {
				width: 100%;
			}
		}
	}
}
