.event-show {
 display: flex;
 justify-content: center;
 margin-top: 10px;
 margin-bottom: 20px;

  .organiser {
    margin-right: 50px;
  }
}

.event-show-card {
	text-align: center;
  margin-left: 50px;
}
