.event_container{
	// background-image: linear-gradient(to right, #e3d4ff, #c7aaff);
	background-color:  #e7d9ff;
  display: flex;
	justify-content: center;
  padding-top: 30px;
	padding-bottom: 30px;

  .container{
		background-color: white;
		margin-top: 30px;
		margin-bottom:30px;
		border-radius: 10px;
		// justify-content: center;
		
			.events__container {
				display: flex;

				.events-cards {
					padding: 0 4px;
					// border: 1px solid lightgray;
					border-radius: 8px;
					
					a {
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
					.event-card {
						box-shadow: 2px 2px 2px rgb(228, 228, 228);
						background-color: white;
						margin: 36px 0;
						padding: 0;
						border-radius: 8px;
						display: flex;
						.event-card__image {
							flex-grow: 1;
							height: 200px;
							width: 250px;
							overflow: hidden;
							margin-right: 16px;
							border-radius: 8px;

							img {
								border-radius: 8px;
								height: 100%;
								object-fit: cover;
							}
						}
						.event-card__body {
							position: relative;
							display: flex;
							flex-grow: 3;
							width: 400px;
							flex-wrap: wrap;
							flex-direction: column;
							justify-content: space-evenly;
							align-items: center;
							overflow: hidden;
							margin: 8px 0;
							h4 {
								color: $purple-primary;
							}
							p {
								padding: 0;
								margin: 0;
								font-size: 12px;
								color: gray;
							}
							.tag {
								display: flex;
								justify-content: space-between;
								align-items: center;
							}
						}

						.badge {
							padding: 8px 16px;
							font-size: 16px;
						}
					}
				}
			}
  }
	.event_inside_container {
			// display: flex;
			// width: 65%;
			// margin-top: 20px;
			// padding-top: 30px;
			// margin-bottom: 10px;
			// border-radius: 10px;
			// background-color: transparent;
		box-shadow: 1px -1px 5px 22px #d8c5ff;
		-webkit-box-shadow: 1px -1px 5px 22px #d8c5ff;
		-moz-box-shadow: 1px -1px 5px 22px #d8c5ff;
	}
}	
