<div class="notification notification-card" id="notification-<%= notification.id %>">
  <% if notification.notifiable_type == "Message" %>
    <p>Hey! <%= notification.actor.name %> just commented on an event</p>
  <% elsif notification.notifiable_type == "Badge" %> 
    <p>Congratulations! You just earned a badge!</p>
  <% end %>
</div>