<div class="notification" id="notification-<%= notification.id %>">
    <% if notification.notifiable_type == "Message" %>
        <p>Hey! <%= notification.actor.email.capitalize %> just commented on your event</p>
    <%  elsif notification.notifiable_type == "Badge" %> 
        <p>Congratulations! You just earned a badge!</p>
    <% end %>
</div>