<h2>NOTIFICATIONS</h2>
<%# <div class="container-card"> %>
    <div id="notifications" data-notification-user="<%= current_user.id %>">
        <% @notifications.each do |notification| %>
            <%=  render "notification", notification: notification   %>
        <% end %>
    </div>
<%# </div> %>