<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/amanda-paranamana-a356891ba/"><i class="fab fa-linkedin"> Amanda</i></a>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/akashchhetri/"><i class="fab fa-linkedin"></i> Akash</a>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/ian-taylor-03/"><i class="fab fa-linkedin"></i> Ian</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="footer-links">
          <a href="https://github.com/Neyomi22/social-games"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="footer-copyright">
          Developed <i class="fas fa-heart"></i> at Le Wagon Bootcamp #534 batch
        </div>
      </div>
    </div>

  </div>
</div>
