<div class="footer">
  <div class="container">
    <div class="row mt-2">
      <div class="col-12 col-sm-4">
        <div class="mt-3 footer-links flex-column align-items-start">
          <a href="https://g.page/inspire9?share"><p><i class="fas fa-map-marker-alt"></i>Inspire 9, Melbourne</p></a>
          <a href="https://github.com/Neyomi22/social-games"><p><i class="fab fa-github"></i>Github Repo</p></a>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <h4 class="text-center">About us</h4>
        <p>A website designed for sport lovers. A chance to play a game and socialise without the hassle</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4"></div>
      <div class="col-12 col-sm-8">
        <p>
          Developed by Le Wagon Bootcamp #534 batchmates Amanda, Akash and Ian.
        </p>
      </div>
    </div>
  </div>
</div>
