<div class="container">
  <div class="row justify-content-center">
    <form class="d-flex flex-grow-1" action=<%# %> method="GET">
      <select class="form-control" id="sel1" name="distance">
        <option value=10>Address</option>
        <option value=20>By Date</option>
        <option value=50>Sports</option>
      </select>
      <select class="form-control" id="sel1" name="distance">
        <option value=10>Within 10 kms</option>
        <option value=20>Within 20 kms</option>
        <option value=50>Within 50 kms</option>
        <option value=100>Show All</option>
      </select>
      <input class="form-control me-2" name="location" type="search" placeholder="Enter your Australian postcode" aria-label="Search" value="<%= params[:location]%>">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>