<div class="banner">
  <div class="container">
    <div class="landing-page">
      <div class="heading-container">  
        <div class="heading">
          <h1>Social Games</h1>
          <p class="text-muted">Best platform to search your playing buddy</p>
          <%= link_to 'Find Sports', events_path, class: "btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing-card__container">
  <h2 class="text-center">Recently added</h2>
  <div class="cards">
    <div class="card">
      <img src="" alt="">
      <h2>card 1</h2>
      <p>This is a card body</p>
    </div>
    <div class="card">
      <img src="" alt="">
      <h2>card 2</h2>
      <p>This is a card body</p>
    </div>
    <div class="card">
      <img src="" alt="">
      <h2>card 3</h2>
      <p>This is a card body</p>
    </div>
  </div>
</div>