<div class="banner">
  <div class="container">
    <div class="heading">
      <h1>Social Games</h1>
      <p>Best platform to search your playing buddy</p>
      <%= link_to 'Find Sports Event', events_path %>
    </div>
  </div>
</div>