body {
  background: url("https://image.freepik.com/free-vector/gradient-background-with-dynamic-shapes_23-2148215374.jpg") no-repeat center center fixed;
	// background-repeat: no-repeat;
	// background-image: linear-gradient(to right, #e6daff, $purple-secondary );
  // background-color: #e0d0ff;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}