body {
	background: image-url('newbackground.jpg') no-repeat center center fixed;
	// background-repeat: no-repeat;
	// background-image: linear-gradient(to right, #e6daff, $purple-secondary );
	// background-color: #e0d0ff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
