.create {
  background-color: $purple-secondary;
  color: white;
  border-radius: 6px;
}

.index-button{
  background-color: $purple-secondary;
  color: white;
  border-radius: 6px;
  padding: 3px;
  &:hover {
    text-decoration: none;
    background: rgb(195, 91, 255);
    color: white;
  }
}

.btn-search {
  background:  rgb(179, 48, 255);
  color: white;
  border-radius: 4px;
  border-style: none;
  // padding: 3px;
  &:hover {
    text-decoration: none;
    background: rgb(147, 38, 211);
    color: white;
  }
}
.info-container {
  .btn {
    background-color: rgba(255, 48, 151, 0.7);
    border: none;
    width: 24%;
    border-radius: 8px !important;

  }
}