.create {
  background-color: $purple-secondary;
  color: white;
  border-radius: 6px;
  
}

.index-button{
  background-color: $purple-secondary;
  color: white;
  border-radius: 6px;
  padding: 3px;
}