.landing-card__container {
	margin-top: 48px;
	min-height: 60vh;
	.cards {
		display: flex;
		justify-content: space-around;
		align-items: center;
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 64px;
				max-height: 64px;
			}
		}
	}
}
