.add-event-form {
	padding-top: 50px;
	min-height: 100vh;

	.form-control {
		border-radius: 8px;
	}

	.form-body {
		background-color: white;
		padding: 16px;
		padding-bottom: 2px;
		border-radius: 8px;
		margin-bottom: 16px;

		.card-body {
			box-shadow: 4px 4px 4px $box-shadow;
		}
	}
}

input[type='submit'] {
	color: white;
	border-radius: 8px;
	background-color: rgba(255, 48, 151, 0.7);
	padding: 3px;
	width: 100%;
	box-shadow: 2px 2px purple;
}

.sports-form {
	.js-photo-preview {
		width: 80%;
		object-fit: contain;
		border: none;
		border-radius: 8px;
		box-shadow: 2px 2px 4px #ffddff;
	}
}

.container-login,
.sign-up-container {
	background: white;
	padding: 40px;
	border-radius: 8px;
	input {
		border-radius: 5px;
		outline: none;
	}
}

.shared-links {
	display: flex;
	margin: 4px 0;
	padding-top: 16px;
	flex-direction: column;
}

.add-image__container {
	padding: 24px 12px;
	border-radius: 5px;
	background: white;
	width: 100%;
	margin-right: 8px;
}

// All Dropdown forms designed
// select.form-control {
// }

// Mobile Screen Size iphone 10+
@media (max-width: 436px) {
	.add-image__container {
		margin-bottom: 18px;
	}
}
