.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.event-index-container {
	display: flex;
}

#map {
	position: sticky;
	border-radius: 8px;
	box-shadow: 4px 4px 16px rgb(165, 165, 165);
	top: 40px;
	height: 100vh;
	margin-left: 10px;
	margin-right: 10px;
}
.mapboxgl-ctrl-top-right {
	visibility: hidden;
}
