.navbar-lewagon {
	justify-content: space-between;
	background: white;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
	width: 40px;
}
#notification-bell {
	background: lightgrey;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	border-radius: 15px;
	position: relative;
	margin: 0px 5px;
	svg {
		width: 24px;
	}
	.notify-dot {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: $purple-primary;
		box-shadow: 0px 1px 5px $purple-secondary;
		display: none;
	}
}
#notification-bell.active {
	background: #f4e0ff;
	.notify-dot {
		display: block;
	}
}

// .navbar {

// 	.nav-link{
// 		margin-top: 5px;
// 	}

// 	.dropdown {
// 		margin-top: 3px;
// 		align-items: center;
// 	}
// }

.fa-search {
	color: rgba(0, 0, 0, 0.5);
}

.fa-plus {
	color: rgba(0, 0, 0, 0.5);
}

.fa-tachometer-alt {
	color: rgba(0, 0, 0, 0.5);
}
// .nav-item .active{
// 	width: 20px;
// }
.navbar {
	padding: 0;
}

.nav-item {
	display: flex;
	align-items: center;
	margin-right: 22px;
	&:last-child {
		margin-right: 0;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
