.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .logo {
// 		width: 64px;
// 		height: 64px;
// 		border-radius: 50%;
// 		overflow: hidden;
// 		img {
// 			height: 100%;
// 			border-radius: 50%;
// 		}
  
// }
